<div class="container-md">
  <div class="row w-75 mx-auto mt-4">
    <h4 class="bg-light w-25 text-center my-3">商品一覧</h4>
    <%#商品新規登録へのリンクつきボタン%>
    <div class="ml-auto">
      <%= button_to "＋", new_admin_item_path, method: :get, class:"btn btn-light rounded-circle p-2" %>
    </div>
    <%#商品一覧テーブル%>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <% @items.each do |item| %>
      <tbody>
        <tr>
          <td><%= item.id %></td>
          <td>
            <%= link_to admin_item_path(item) do %>
              <%= item.item_name %>
            <% end %>
          </td>
          <td><%= item.price %></td>
          <td><%#= item.janre_id %></td>
          <td><%= item.sales_status %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>