<div class="container admin-top">
  <div class="row w-75 mx-auto mt-2">
    <div class="d-flex justify-content-start">
      <h4 class="bg-light text-center my-3 px-4"><%= @cust_name %>さんの注文履歴</h4>
    </div>
    <table class="table order-table">
      <tr class="bg-light border-top border-bottom border-black-50">
        <th class="table-item w-25">購入日時</th>
        <th class="table-item w-25">注文個数</th>
        <th class="table-item w-25">注文ステータス</th>
      </tr>
      <% @cust_orders.each do |cust_order| %>
        <tr class="border-bottom border-black-50">
          <td class="table-item">
            <%= link_to cust_order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(cust_order.id) %>
          </td>
          <td class="table-item">
            <%= cust_order.orderdetails.sum(:piece) %>
          </td>
          <td class="table-item">
            <%= cust_order.order_status_i18n %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="d-flex justify-content-center mt-1">
      <%= paginate @cust_orders %>
    </div>
  </div>
</div>