<div class="container mt-4 mb-5">
  <div class="row">
    <div class=" mx-auto col-10"> <strong><p class="fs-3 ">配送先登録/一覧</p></strong>
      <%= form_with model: @destination, url: deliverys_path, method: :post do |f| %>
        <div class="field row mb-2">
          <%= f.label :郵便番号（ハイフンなし）,class: "col-3" %>
            <%= f.text_field :zipcode ,class: "col-4 form-control",placeholder: "0000000" %>
        </div>
        <div class="field row mb-2">
          <%= f.label :住所,class: "col-3" %>
            <%= f.text_field :address ,class: "col-7 form-control",placeholder: "静岡県○○市"%>
        </div>
        <div class="field row">
          <%= f.label :宛名,class: "col-3" %>
            <%= f.text_field :delivery_name,class: "col-4 form-control",placeholder: "ミカサ" %>
              
              <div class="form-groupe ml-auto">
                <%= f.submit "変更を保存" ,class: "btn btn-sm btn-primary" %>
              </div>
        </div>
        <% end %>
</div>