<!DOCTYPE html>
<html>
<head>
  <title>NaganoCake</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
          <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body style="background-color:#f6efdb;">
  <header style="background-color:#ab0f50;">
    <% if customer_signed_in? %>
      <%= render 'layouts/customer-header' %>
        <% elsif admin_signed_in? %>
          <%= render 'layouts/admin-header' %>
            <% else %>
              <%= render 'layouts/logout-header' %>
                <% end %>
  </header>
  <main>
    <%# 各ページ本体　%>
      <%= yield %>
  </main>
  <footer class="footer fixed-bottom">
    <p class="footer-text" style="color:#ffffff;">© All rights reserved by Infratop.Inc.</p>
    </div>
  </footer>
</body>
</html>